extends layout

block content
  .cover-container.d-flex.w-100.h-100.p-3.mx-auto.flex-column

    header.masthead.mb-auto
      .inner
        h3.masthead-brand Liftoff In...
        nav.nav.nav-masthead.justify-content-center
          a.nav-link(href='/') Home
          a.nav-link.active(href='/about') About

    .row.align-items-center.h-100
      .col-10.mx-auto.text-left
        h1 Needed a simple timer...
        p I found myself running screencasts and needed a super simple / reliable countdown timer. I wanted something I could show full-screen as a countdown to when the session would start. I didn't find what I needed on the interwebs so I decided to make my own. Hence LiftoffIn.com was born.
        p This website does one thing and one thing only. It shows a countdown timer to some time (hopefully) in the future. When it gets there, it shows all zeros. That's it. Nothing fancy. Go ahead and try it. Hopefully this turns out to be useful to someone other than myself.

    footer.mastfoot.mt-auto
      .inner
        p by 
          a(href='https://twitter.com/anders94') @anders94
