extends layout

block stylesheets
  link(rel='stylesheet', href='/stylesheets/lib/flipdown.css')
  link(rel='stylesheet', href='/stylesheets/lib/jquery.datetimepicker.min.css')

block javascript
  script(src='/javascripts/liftoffin.js')
  script(src='/javascripts/lib/jquery.datetimepicker.full.min.js')
  script(src='/javascripts/lib/moment.min.js')

block content
  .cover-container.d-flex.w-100.h-100.p-3.mx-auto.flex-column

    header.masthead.mb-auto
      .inner
        nav.nav.nav-masthead.justify-content-center
          a.nav-link.active(href='/') Home
          a.nav-link(href='/about') About

    .row.align-items-center.h-100
      .col-10.mx-auto
        p.display-4 Liftoff In...
        h1.display-1.text-monospace#countdown 00:00:00
        script.
          const countDownDate = new Date((new Date().getTime()) + 172810000);
          const interval = setInterval(function() {
            if (countDownDate < new Date().getTime()) {
              clearInterval(interval);
            }
            drawTimer(countDownDate, 'countdown');
          }, 1000);
          drawTimer(countDownDate, 'countdown');

    .row.align-items-center.h-100
      .col-10.mx-auto
        h2 Try it:
        form(method='POST', action='/')

          .input-group.mb-3
            input.form-control(type='text', name='message', value='Liftoff In...', placeholder='Message (optional)', aria-label='Message', aria-describedby='message')
            input#datetimepicker.form-control(type='text', name='date', placeholder='Date & Time', aria-label='Date & Time', aria-describedby='date')
            .input-group-append
              button.btn.btn-outline-primary(type='submit') Create your own
            script(type='text/javascript').
              let date = moment().add(5, 'minutes');
              jQuery('#datetimepicker').datetimepicker({
                formatDate: 'Y/m/d',
                minDate: 0,
                maxDate: '2100/01/01'
              }).val(date.format('YYYY-MM-DD HH:mm:00'));

    footer.mastfoot.mt-auto
      .inner
        p by 
          a(href='https://twitter.com/anders94') @anders94
