extends layout

block content
  .cover-container.d-flex.w-100.h-100.p-3.mx-auto.flex-column
    header.masthead.mb-auto
      .inner
        h3.masthead-brand Liftoff In...
        nav.nav.nav-masthead.justify-content-center
          a.nav-link.active(href='/') Home
          a.nav-link(href='/about') About

    main.inner.cover(role='main')
      .py-5
        .row
          .col-lg-8.mx-auto
            p.lead Liftoff In...
            p#liftoff-in.display-1
            script(type='text/javascript').
              $("#liftoff-in").countdown('2020/07/05 10:17:00', function(event) {
                $(this).text(event.strftime('%D days, %H:%M:%S'));
              });

      p.lead Make your own timer.
      p.lead
        a.btn.btn-lg.btn-secondary(href='#') Create

    footer.mastfoot.mt-auto
      .inner
        p by 
          a(href='https://twitter.com/anders94') @anders94
